

<%= "#{@user.name}'s profile page" %>
<br>
<div>
  <%= link_to "Edit user", edit_user_path(@user) %>
</div>

<% if @user.image.attached? %>
  <%= image_tag @user.image, style: "display: block" %>
<% end %>

<br>
<div>
  <%= link_to "Create a new Jam", new_jam_path(@user) %>
</div>
<div>
  <%= link_to "See Jams", jams_path %>
</div>


