
<p>
  <% user = User.find(@jam.user_id) %>
  <%= "Posted by #{@jam.user.name}!"%>
  <br>
  <%= image_tag @jam.image, style: "width: 200px;" %>
  <br>
  <%= @jam.caption %>
  <% @jam.comments.each do |comment| %>
    <p> <%= "#{comment.body}--#{user.name}"%></p>
  <% end %>
</p>
<div>
  <%= button_to "Like", like_path(@jam.id), method: "put" %>
  <%= @jam.likes %> <%= @jam.likes == 1 ? "Like" : "Likes" %>
</div>


<div>
  <%= link_to "Add Comment", new_comment_path(@jam) %>
</div>
<br>

<div>
  <%= link_to "Edit Jam", edit_jam_path(@jam) %>
</div>
<br>

<div>
  <%= link_to "See other Jams", jams_path %>
</div>

